In [1]:
import pandas as pd
from utils import *

In [4]:
schedule = load_initial_schedule()

        Date                  Topic    Speaker
0 2018-03-22         classic review      Keven
1 2018-03-29  ord. of mag. estimate     Robert
2 2018-04-05           arxiv review  Stephanie
3 2018-04-12         classic review    Rachael
4 2018-04-19  ord. of mag. estimate       Alex
5 2018-04-26           arxiv review    Ruggero
6 2018-05-03         classic review       Adam
7 2018-05-10  ord. of mag. estimate     Oliver
8 2018-05-17           arxiv review   Benjamin
9 2018-05-24         classic review    Ruggero

### Examples for future interventions

* To shift all the meetings of 1 week starting from dd-mm-yyyy, use
```python
new_schedule = shift_meetings(schedule, "dd-mm-yyyy")
```

* To switch the speaker scheduled for d1-m1-yyy1 with the speaker scheduled for d2-m2-yyy2, use
```python
new_schedule = switch_speakers(schedule, "d1-m1-yyy1", "d2-m2-yyy2")
```

In [6]:
new_schedule = shift_meetings(schedule, "22-03-2018") # We ran out of time this week!
new_schedule = shift_meetings(new_schedule, "29-03-2018") # Special Talk
new_schedule = switch_speakers(new_schedule, "05-04-2018", "26-04-2018") # Too few people
new_schedule = shift_meetings(new_schedule, "19-04-2018") # 
new_schedule = shift_meetings(new_schedule, "26-04-2018")
new_schedule
# save_schedule(new_schedule)

         Date                  Topic     Speaker
0  2018-04-05         classic review     Rachael
1  2018-04-12  ord. of mag. estimate      Robert
2  2018-05-03           arxiv review   Stephanie
3  2018-05-10         classic review       Keven
4  2018-05-17  ord. of mag. estimate        Alex
5  2018-05-24           arxiv review     Ruggero
6  2018-05-31         classic review        Adam
7  2018-06-07  ord. of mag. estimate      Oliver
8  2018-06-14           arxiv review    Benjamin
9  2018-06-21         classic review     Ruggero
10 2018-06-28  ord. of mag. estimate    Benjamin
11 2018-07-05           arxiv review       Keven
12 2018-07-12         classic review      Robert
13 2018-07-19  ord. of mag. estimate   Stephanie
14 2018-07-26           arxiv review     Rachael
15 2018-08-02         classic review      Oliver
16 2018-08-09  ord. of mag. estimate        Adam
17 2018-08-16           arxiv review        Alex
18 2018-08-23         classic review    Benjamin
19 2018-08-30  ord. of mag. estimate       Keven
20 2018-09-06           arxiv review      Oliver
21 2018-09-13         classic review   Stephanie
22 2018-09-20  ord. of mag. estimate     Ruggero
23 2018-09-27           arxiv review        Adam
24 2018-10-04         classic review        Alex
25 2018-10-11  ord. of mag. estimate     Rachael
26 2018-10-18           arxiv review      Robert